@font-face { font-family:'tnt300';src:url('../fonts/MuseoSans-300.otf') format('opentype'); }
@font-face { font-family: 'tnt500';src:url('../fonts/MuseoSans-500.otf') format('opentype'); }
@font-face { font-family: 'tnt700';src:url('../fonts/MuseoSans-500.otf') format('opentype'); }

